###> APP ###

# The gateway application port
APP_PORT=6060

# The prefix for all API endpoints
APP_GLOBAL_PREFIX=/api

###< APP ###

###> SWAGGER ###

# The Swagger Doc title
SWAGGER_TITLE='NestJS Backend Template'

# The swagger path where the Swagger UI will be served
SWAGGER_PATH=/doc

###< SWAGGER ###